# Ignorer tous les fichiers par défaut
*

# Exclure explicitement les dossiers src et le fichier pom.xml pour qu'ils soient inclus
!pom.xml
!src/
!Jenkinsfile

# Ignorer les fichiers générés par les IDE (IntelliJ, Eclipse, NetBeans, VSCode, etc.)
*.iws
*.iml
*.ipr
.idea/
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignorer les répertoires de build
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
target/

# Exclure les sous-dossiers de build dans src (si présents)
src/**/build/
src/**/target/
/.m2/
