# Ignorer les fichiers générés par les IDE (IntelliJ, Eclipse, NetBeans, VSCode, etc.)
*.iws
*.iml
*.ipr
.idea/
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignorer les répertoires de build
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
target/

# Inclure explicitement les dossiers src et pom.xml
!src/
!pom.xml

# Exclure les sous-dossiers target dans src
src/**/target/
